Package: xyz.willy.aupm
Name: AUPM (BETA)
Version: 1.0~beta19
Architecture: iphoneos-arm
Depends: dpkg, cydia, apt7
Description: A Useless Package Manager
Maintainer: Wilson Styres <wilson@styres.me>
Author: Wilson Styres <wilson@styres.me>
Section: Packaging
Depiction: https://xtm3x.github.io/aupm/
Tag: purpose::x
